{% extends 'base.html' %}




{% block content %}


<div><h1> THIS IS OUR CAR PAGE</h1></div>

{% for car in cars %}

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a href="{{ url_for('site.individualCar', car_id=car.id) }}"><h5 class="card-title">{{ car.make }}</h5></a>
        
        <p class="card-text">This {{ car.year }} {{ car.make }}  {{ car.model }}. {{ car.desc }} and costs ${{ car.price }}.</p>
        </div>
    </div>
</div>



{% endfor %}
{% endblock content %}