{% extends 'base.html' %}

{% block content}


<div> <h1> Update the {{ car.make }} {{ car.model }} information :</h1></div>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="model-field">
            {{ form.model.label }}
            {{ form.model(class = "form-control", placeholder = "Change car model?")}}
        </fieldset>
        <fieldset id="year-field">
            {{ form.year.label }}
            {{ form.year(class = "form-control", placeholder = "Change the year?")}}
        </fieldset>
        <fieldset id="price-field">
            {{ form.price.label }}
            {{ form.price(class = "form-control", placeholder = "Change the price?")}}    
        </fieldset>
        <fieldset id="desc-field">
            {{ form.desc.label }}
            {{ form.desc(class = "form-control", placeholder = "New description?")}}
        </fieldset>
        <fieldset id="img-field">
            {{ form.img.label }}
            {{ form.img(class = "form-control", placeholder = "New image url")}}
        </fieldset>
        <!--Submit Button Area-->
        {{ form.submit_button(class = "btn btn-primary btn-block") }}
    </div>
</form>

{% endblock content %}