<!-- HTML structure of this form as suggested by WTForms -->
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="make-field">
            {{ form.make.label }}
            {{ form.make(class = "form-control", placeholder = "Make...")}}
        </fieldset>
        <fieldset id="model-field">
            {{ form.model.label }}
            {{ form.model(class = "form-control", placeholder = "Model...")}}
        </fieldset>
        <fieldset id="year-field">
            {{ form.year.label }}
            {{ form.year(class = "form-control", placeholder = "Year...")}}
        </fieldset>
        <fieldset id="color-field">
            {{ form.color.label }}
            {{ form.color(class = "form-control", placeholder = "What color?")}}
        </fieldset>
        <fieldset id="miles-field">
            {{ form.miles.label }}
            {{ form.miles(class = "form-control", placeholder = "How many miles?")}}
        </fieldset>
        <!--Submit Button Area-->
        {{ form.submit_button(class = "btn btn-primary btn-block") }}
    </div>
</form>