<!-- HTML structure of this form as suggested by WTForms -->
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="make-field">
            {{ form.make.label }}
            {{ form.make(class = "form-control", placeholder = "Make...")}}
        </fieldset>
        <fieldset id="model-field">
            {{ form.model.label }}
            {{ form.model(class = "form-control", placeholder = "Model...")}}
        </fieldset>
        <fieldset id="year-field">
            {{ form.year.label }}
            {{ form.year(class = "form-control", placeholder = "Year...")}}
        </fieldset>
        <fieldset id="price-field">
            {{ form.price.label }}
            {{ form.price(class = "form-control", placeholder = "Price...")}}
        </fieldset>
        <fieldset id="desc-field">
            {{ form.desc.label }}
            {{ form.desc(class = "form-control", placeholder = "Description...")}}
        </fieldset>
        <fieldset id="img-field">
            {{ form.img.label }}
            {{ form.img(class = "form-control", placeholder = "Image URL...")}}
        </fieldset>
        <!--Submit Button Area-->
        {{ form.submit_button(class = "btn btn-primary btn-block") }}
    </div>
</form>